#ingresoTexto {
    border: 1px solid;
   width: 500px;
   height:250px;
   text-align: center;
   }
#salidaTexto {
    border: 1px solid;
    width: 500px;
   height: 250px;
   text-align: center;
}
center {border: solid;
}
#option {
    border: 1px solid;
    width: 200px;
    float: right;

}