#ingresoTexto {
    border: 2px solid gainsboro;
   width: 500px;
   height:250px;
   text-align: center;
 
   }
#salidaTexto {
    border: 2px solid gainsboro;
     width: 500px;
   height: 250px;
   text-align: center;
}


#box {

width: 40%;
margin-left: 25%;
float: left;
}

#option {
  
    width: 200px;
    margin-top: 7%;
    padding: 20px;
    float: left;
}
#offSet {
    width: 20%;
    float: left;
}

footer {
    margin-left: 80%;
    margin-top: 50%
}