#ingresoTexto {
    border: 1px solid;
   width: 500px;
   height:250px;
   text-align: center;
<<<<<<< HEAD
 
=======
>>>>>>> 21e2f40c8f9cba29b675ef144094abd710746173
   }
#salidaTexto {
    border: 1px solid;
    width: 500px;
   height: 250px;
   text-align: center;
}
<<<<<<< HEAD


#box {
border:1px solid;
width: 40%;
margin-left: 25%;
float: left;
}

#option {
    border: 1px solid;
    width: 200px;
    margin-top: 7%;
    padding: 20px;
    float: left;
}
#offSet {
    width: 20%;
    float: left;
=======
center {border: solid;
}
#option {
    border: 1px solid;
    width: 200px;
    float: left;
    margin-top: 10%;

<<<<<<< HEAD
}

button{
left: 5%;
margin-top: 5%;
margin-left: 60%;
}

p{
    margin-left: 5%;
}

#setOff
{
width: 20%;
float: left;
margin-left: 5%;
margin-top: 5%;
}
#contenedor {
    border: 1px solid;
    width: 75%;
    float: left;
=======
>>>>>>> 21e2f40c8f9cba29b675ef144094abd710746173
>>>>>>> 712e87811bd22e8a864426564b7e5b7f0d79db41
}